doctype html
html(lang="kr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    h1 #{title}
    p 서비스 구독을 신청해주셔서 감사합니다. 이메일 인증을 위해 아래 링크를 클릭해주세요.
    a(href=verificationLink, target='_blank') 이메일 인증하기
    p 궁금한 점이 있거나 추가 지원이 필요하면 언제든지 문의해주세요.